Binaries
DerivedDataCache
Intermediate
Saved
Build
Backup
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*_BuiltData.uasset
/.project
.vs
.vscode
*.orig
/DBG_171213.mpp
/DBG_fixed.mpp
/WC-11206712-180419-1435-9.pdf
/_deploy
